<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>WelcomeServlet</servlet-name>
        <servlet-class>my.gui.WelcomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HinhTronServlet</servlet-name>
        <servlet-class>HinhTron.HinhTronServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoiTienServlett</servlet-name>
        <servlet-class>guigui.DoiTienServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoiTienJS</servlet-name>
        <servlet-class>HinhTron.DoiTienJS</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WelcomeServlet</servlet-name>
        <url-pattern>/WelcomeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HinhTronServlet</servlet-name>
        <url-pattern>/HinhTronServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoiTienServlett</servlet-name>
        <url-pattern>/DoiTienServlett</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoiTienJS</servlet-name>
        <url-pattern>/DoiTienJS</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
